<div class="container">
    <div class="card">
    <div class="card-body">
        <form>
          <div class="row">
          <div class="col-md-9">
            <div class="form-group row">
              <label for="salary" class="col-md-4 col-md-form-label">Your salary</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="salary" value="50000">
              </div>
              <div class="col-md-4">
                <select class="form-control">
                <option>Annually</option>
                <option>Monthly</option>
                <option>Fortnightly</option>
                <option>Weekly</option>
                <option>Day Rate</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="taxyear" class="col-md-4">Tax Year</label>
              <div class="col-md-4">
                <select class="form-control">
                  <option>2016-2017</option>
                  <option>2015-2016</option>
                  <option>2014-2015</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="superannuation" class="col-md-4">Superannuation %</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="superannuation" value="9.5">
              </div>
            </div>
          </div>

          <div class="col-md-3">                   
            <div class="checkbox">
              <label>
                <input type="checkbox"> Include Superannuation
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Non-Resident
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> No tax-free threshold
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> HELP and TSL
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Withhold Tax Offsets
              </label>
            </div>
          </div>
          </div>
        </form>
        <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered">
              <thead class="thead-default">
                <tr>
                  <th>Year 2016-2017</th>
                  <th>Weekly</th>
                  <th>Fortnightly</th>
                  <th>Monthly</th>
                  <th>Yearly</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-success">
                  <td>Pay</td>
                  <td>$100</td>
                  <td>$1000</td>
                  <td>$10000</td>
                  <td>$10000</td>
                </tr>
                <tr>
                  <td>Taxable Income</td>
                  <td>$</td>
                  <td>$</td>
                  <td>$</td>
                  <td>$</td>
                </tr>
                <tr>
                  <td>Superannuation</td>
                  <td>$</td>
                  <td>$</td>
                  <td>$</td>
                  <td>$</td>
                </tr>
              </tbody>
            </table>
          </div>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>    
  </div>